
\.idea/

svm-predict

svm-scale

svm-train

svm\.o

tools/heart_scale\.model

tools/heart_scale\.predict

tools/heart_scale\.range

tools/heart_scale\.scale

tools/heart_scale\.scale\.out

tools/heart_scale\.scale\.png
